{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'browsing.css'%}" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div class="container">
        {% for i in query %}
          <div class="card">
            <div class="card-header">
              <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />
            </div>
            <div class="card-body">
              <span class="tag tag-teal">date:{{i.event_date}} </span>
              <span class="tag tag-teal"> time:{{i.event_time}}</span>
              <h4>
                Event Name:{{i.event_name}}
              </h4>
              <p>
                Location:{{i.event_location}}
                {{i.id}}
              </p>
              <div>
                <a href="{{i.id}}">button</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  </body>
</html>
