{% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header wf-section">
      <div class="w-container">
        <h1 class="main-heading">
          Making brands stand out<br />is our obsession
        </h1>
        <div class="divider"></div>
        <div class="main-subtitle">Let make the world beautiful place</div>
        <div class="div-block">
          <a href="post_event/" class="button w-button">Host A Event</a>
          <a href="browse_event/" class="button w-button"
            >Register for a event</a
          >
        </div>
      </div>
    </div>
    <div class="about-section wf--section">
      <img src="../static/icons8-x-96.png" width="70" class="x-icon" />
      <div class="w-container">
        <p class="about-text">
          Minimalist is a full-service digital creative agency located in
          Ontorio Canada. We focus on design, consulting, technology, and
          photography.
        </p>
      </div>
    </div>
    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <h3>About</h3>
          <h4>
            Scanfcode.com  is an initiative to
            help the upcoming programmers with the code. Scanfcode focuses on
            providing the most efficient code or snippets as the code wants to
            be simple. We will help programmers build up concepts in different
            programming languages that include C, C++, Java, HTML, CSS,
            Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.
          </h4>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <p class="copyright-text">
            Copyright &copy; 2022 All Rights Reserved by Laleet.
          </p>
          <div class="divider"></div>
          <div>
            <ul class="social-icons">
              <li>
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="instagram" href="#"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
